@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-stoic-black text-gray-400 font-sans antialiased;
}

/* Custom scrollbar for that sleek look */
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: #0a0a0a; }
::-webkit-scrollbar-thumb { background: #262626; border-radius: 10px; }
